#Calculator{
    border: 1px solid grey;
    border-radius: 2px;
    width:200px;
}

#display{
    border: 1px solid black;
    width: 70%;
    margin: 10px 30px;
    padding: 10px;
}

#button-container{
    justify-content:right;
    display:inline;

}
.button{
  width: 40px;
  height: 40px;
  margin: 3px;
}
  